{#
  Name: Community Event Block
  Description: Event Block for Community Feed
#}
<div class="community-block community-event-block {{loop.first ? 'active' : ''}}" data-id="{{post.id}}">
  {% set eventImage = post.image ? TimberImage(post.image) : TimberImage(options.default_image) %}
  <picture>
    <img src="{{ eventImage|resize(600,600) }}"
      alt="{{eventImage.alt|default(post.title)}}" />
  </picture>
  <div class='info'>
    <ul class="tags">
      {% for cat in post.categories %}
        <li class="event-cat">{{cat.name}}</li>
      {% endfor %}
      <li class="post-type-label">Event</li>
    </ul>
    <h5 class='title'>{{post.title}}</h5>
    <span class='start-date'>{{post.start_time|date("M j, Y")}}</span> 
    <a href="#single_modal" class="button">View details</a>
  </div>
</div>