{#
  Name: Event Grid
  Description: Display a grid of all featured events
  Categories: Element,Group
  Example: [event-grid]
#}
<div class="event-grid post-count-{{featured_events|length}}">
  {% for event in featured_events %}
    {% include "components/event-block.twig" with {post: get_post_type(event), loop: loop.index, count: featured_events|length} %}
  {% endfor %}
</div>