{#
  Name: Event Block
  Description: Tease block for an event. Usually used with Event Grid.
  Categories: Element,List
  Example: [event-block]
#}
<div class="block list-item column image-link event-link">
	<a href="{{post.link}}">
    {% set width = loop == 1 ? 900 : 500 %}
    {% if count == 2 %}
      {% set width = 500 %}
    {% endif %}
    {% set height = 500 %}
    {% set eventImage = TimberImage(post.thumbnail.src)|default(TimberImage(options.default_image)) %}
    <picture>
      <source srcset="{{eventImage|resize(600,600)}} 600w"
        media="(max-width: 600px)" />
      <source srcset="{{eventImage|resize(width,height)}} 1200w"
        media="(min-width: 600px)" />
		  <img src="{{ eventImage|resize(600,600) }}"
        alt="{{eventImage.alt|default(post.title)}}" />
    </picture>
		<div class='info'>
				<span class='title'>{{post.title}}</span>
				<span class='start-date'>{{post.start_date|date("M j, Y")}}</span> 
		</div>
	</a>
</div>