{% extends "base.twig" %}

{% block content %} 
{% include 'headers/standard.twig' with {title: title} %}
  {# Archive Grid #}
  <section class="section bg-white" id="event_archive">
    <div class="section-content normal-padding row two-thirds-width">
      <div class="column text-center">
        {# Event Filters #}
        {% include "events/event-filtering.twig" %}

        {# Archive Grid #}
        {% include "events/archive-grid.twig" with {items: posts} %}
      </div>
		</div>
	</section>
  {% include "pagination.twig" %}

{% endblock %}
