<div class="single-thought" data-id="{{post.id}}">
  <section class="section header bg-dark-gray parallax">
		<img src="{{post.thumbnail.src|default(TimberImage(options.default_image))|resize(1400)}}" alt="" class="section-background-image header-background-image fade-15">
		<div class="row section-content mega-padding">
			<div class="column text-center white">
				<h1>{{ title|default(post.title) }}</h1>
			</div>
		</div>
	</section>
	<section class='section bg-light event-info-section'>
		<div class="section-content normal-padding row two-thirds-width">
      <div class="column medium-6 medium-push-3 large-4 large-push-0">
      <div class="event-info bg-dark pop-up"> 
					<div class="event-info-box">
            {% if post.display_end_date and post.display_start_date != post.display_end_date %}
              <h4 class="event-date">{{post.display_start_date}} - {{post.display_end_date}}</h3>
              <h6 class="event-time">{{post.display_start_time}}</h4>
            {% else %}
              {% if post.display_end_time %}
                <h4 class="event-date">{{post.display_start_date}}</h3>
                <h6 class="event-time">{{post.display_start_time}} - {{post.display_end_time}}</h4>
              {% else %}
                <h4 class="event-date">{{post.display_start_date}}</h3>
                {% if post.start_time|date("H:i") != "00:00" %}
                  <h5 class="event-time">{{post.display_start_time}}</h4>
                {% endif %}
              {% endif %}
            {% endif %}
            {% if post.directions %}
              <a href="{{post.directions}}" class="button small expanded bg-yellow" target="_blank">Get Directions</a> 
            {% endif %}
					</div>
					{% if post.sign_up_link %}
						<a class="button expanded bg-yellow" href="{{post.sign_up_link}}">Sign Up</a>
					{% endif %}
					{% if post.sign_up_form %}
						<a class="button expanded scroll" href="#sign_up_form">Sign Up</a>
					{% endif %}
				</div>
      </div>
      <div class="event-description column large-8">
        {{post.content}}
      </div>
		</div>
	</section>
</div>