{% extends "tease.twig" %}

{% block content %}
	<a href="{{post.link}}" class='tease-message-image'>
		<img src="{{post.thumbnail.src|default(TimberImage(options.default_image))|resize(960,540) }}" height="{{post.thumbnail.height}}" width="{{post.thumbnail.width}}"/>
	</a>
	
	<h5 class="h5 thin-padding"><a href="{{post.link}}">{{post.date}} | {{post.title}}</a></h5>
{% endblock %}