<ul class="user-events">
  {# TODO Create function to get all events a user RSVP to #}
  {# {% for event in getUserEvents(user) %} #}
  {% for event in [] %}
    {% set event = get_post_type(event) %}
    <li class="user-event">
      <div class="image-wrapper">
        {% if event.image %}
          {% set img = TimberImage(event.image) %}
          <img src="{{img}}" alt="{{img.alt|default(event.title)}}">
        {% endif %}
      </div>
      <div class="event-info">
        <div class="event-tag-wrapper">
          {% if event.category %}
            <div class="event-tag">{{event.category.name}}</div>
          {% endif %}
        </div>
        <h5 class="event-title">{{event.name}}</h5>
        <div class="event-instructor-wrapper">
          {% if event.instructor %}
            <div class="event-host">Presented By: {{event.instructor.name}}</div>
          {% endif %}
        </div>
      </div>
      <a href="{{event.link}}" class="event-link">View Event</a>
    </li>
  {% endfor %}
</ul>
