<div class="event-tag-filters">
  <div class="filter-label">I'm Looking For Courses About:</div>
  <div class="filter-wrapper">
    {% include 'components/tag-filter.twig' with {type: 'event', tax: 'category'} %}
    {% include 'components/tag-filter.twig' with {type: 'event', tax: 'location'} %}
    <div class="search-wrapper" id="event_search">
      <input type="checkbox" class="search-toggle" />
      <div class="search-icon"><i class="fa fa-search"></i></div>
      <div class="search-input">
        {% set args = {type: "event"} %}
        {% include "components/custom-search.twig" with {post: args} %}
      </div>
    </div>
  </div>
</div>