.event-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  margin: 3rem 0rem;

  @include breakpoint(medium) {
    grid-template-columns: repeat(3, 1fr);

    &.post-count-1 {
      grid-template-columns: auto;
    }
    &.post-count-2,
    &.post-count-3 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.event-block {
  @include breakpoint(medium) {
    .post-count-1 &:first-of-type,
    .post-count-3 &:first-of-type,
    .post-count-4 &:first-of-type {
      grid-column: 1 / -1;

      img {
        width: 100%;
      }
    }
  }
}
