/**
 * Foundation for Sites by ZURB
 * Version 6.5.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.event-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  margin: 3rem 0rem; }
  @media print, screen and (min-width: 40em) {
    .event-grid {
      grid-template-columns: repeat(3, 1fr); }
      .event-grid.post-count-1 {
        grid-template-columns: auto; }
      .event-grid.post-count-2, .event-grid.post-count-3 {
        grid-template-columns: repeat(2, 1fr); } }

@media print, screen and (min-width: 40em) {
  .post-count-1 .event-block:first-of-type,
  .post-count-3 .event-block:first-of-type,
  .post-count-4 .event-block:first-of-type {
    grid-column: 1 / -1; }
    .post-count-1 .event-block:first-of-type img,
    .post-count-3 .event-block:first-of-type img,
    .post-count-4 .event-block:first-of-type img {
      width: 100%; } }
