<div class="member-ticker">
  <i class="fas fa-calendar"></i>
  <div class="ticker-label">{{ticker.name}}:</div>
  {# TODO - Update after getUserEvents is created #}
  {# {% set event = getUserEvents() %} #}
  {% set event = false %}
  {% if event %}
    {% set event = get_post_type(event) %}
    {# TODO - Add date #}
    <div class="ticker-data">{{event.name}}</div>
  {% else %}
    <div class="ticker-data"><em>None</em></div>
  {% endif %}
</div>