{% set id = 'admin_events' %}
<div class="reveal admin-menu" id="{{id}}" data-reveal data-reset-on-close="true" data-append-to="#wrapper">
  <h3>Events</h3>
  <form method="post" class="event-assign-form">
    <h4>Assign</h4>
    <ul class="hide" id="admin_event_list"></ul>
    <div class="input-group">
      <input type="text" name="user_search" id="admin_event_user" placeholder=" " autocomplete="off"/>
      <label for="user_search">User</label>
      <ul id="admin_event_user_lookup_box" class="admin-lookup-box"></ul>
    </div>
    <div class="event-groups add-remove-groups hide">
      <div class="event-group add-remove-group">
        <h5>Assigned</h5>
        <ul class="user-events remove-list" id="admin_user_events"></ul>
      </div>
      <div class="event-group add-remove-group">
        <h5>Available</h5>
        <ul class="user-unassigned-events add-list" id="admin_unassigned_events"></ul>
      </div>
    </div>
  </form>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<li class="sidebar-link-item">
  <div class="reveal-wrapper" data-open="{{id}}">{{label}}</div>
</li>
